<h1>Bem Vindo</h1>
<p> Carteira Crypo Wallet</p>

<ul>    
    <li>
        <%= link_to "Moedas", coins_path %>
    </li>
  <li>
      <%= link_to "Tipos de moedas", mining_types_path %>
  </li>

  <p>Você está em ambiente de <strong><%= ambiente_rails %></p></strong>
  <p>Autor <strong><%= autor %></strong></p>

</ul>